/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/
@use 'vuetify/settings' with (
  $color-pack: false,
  $body-font-family: (
    'Roboto',
    'Noto Sans SC',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif,
  ),
  $heading-font-family: (
    'Roboto',
    'Noto Sans SC',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif,
  )
);
